* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  /* background-color: black; */
  /* color: white; */
}
h1 {
  margin-top: 40px;
  text-align: center;
  height: 100px;
} 
.panel {
  display: flex;
  justify-content: space-around;
}
.score {
  width: 100px;
}
#lives {
  display: flex;
  justify-content: space-around;
  width: 100px;
}

.grid-wrapper {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.grid div.syringe {
  background-image: url('../Assets/r903qbml6t0bna7334pu6060ee.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  cursor: pointer;
}
.grid div.covid19 {
  background-image: url('https://media.giphy.com/media/Q66Otqclp5Xmzg2B8X/giphy.gif');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* .test {
  background-image: url('https://media.giphy.com/media/Q66Otqclp5Xmzg2B8X/giphy.gif');
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
} */
